@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



a.active {
  @apply text-blue-800;
}

.itemhover {
  @apply hover:bg-cyan-600 place-items-center text-center rounded-lg px-3 py-2 block hover:text-white relative;
}

.menuBtn {
  @apply cursor-pointer flex flex-col w-[31px] absolute top-1 right-1 h-12 mx-2 bg-transparent border-0 justify-center items-center gap-2;
}

.menuBtn>div {
  @apply w-full h-[3px] bg-black rounded-md transition-all duration-500 ease-in-out transform origin-left sm:hidden;
}

.menuNav {
  @apply transition-all duration-500 ease-linear;
}